<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>User Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id="content">
    <div class="card">
        <div class="card-body border-t border-gray-200 dark:border-gray-600">


            <br>


            <h1 class="text-center text-2xl">Edit Account Information</h1>
<!--            <p class="text-center text-gray-500 dark:text-gray-400">Edit your account information</p>-->
            <hr
                    class="mb-5 border-t border-gray-200 dark:border-gray-600"
            />
            <br>


            <form class="max-w-sm mx-auto" th:action="@{/user/edit}" method="post" enctype="multipart/form-data">
                <div class="mb-5">
                    <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Name</label>
                    <input type="text" id="fullname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" name="fullName" th:value="${fullName}" required />
                </div>

                <div class="mb-5">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
                    <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Email" name="email" th:value="${email}" required />
                </div>

                <div class="mb-5">
                    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select your Title</label>
                    <select id="title"  name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                        <option value="Mr" th:selected="${title == 'Mr'}">Mr</option>
                        <option value="Ms" th:selected="${title == 'Ms'}">Ms</option>
                    </select>
                </div>
                <button type="submit" class="text-white bg-blue-700  hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save Changes</button>
            </form>

        </div>
    </div>
</div>
</body>
<script>
    console.log("Edit Page");
</script>
</html>